/* ------------------deafault/common/resetcss */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    margin: 12px 12px;
}

body {
    font-family: satoshi variable;
}

img {
    max-width: 100%;
    display: block;
}

ul li {
    list-style: none;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.col-1 {
    width: 8.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-2 {
    width: 16.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-9 {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-10 {
    width: 83.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-11 {
    width: 91.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.d-flex {
    display: flex;
}

/* ================variables======================== */
:root {
    --primary: #131440;
    --secondary: #2d2e55;
    --bgcolor: #f7fbff;
    --black: #000;
    --white: #fff;
    --text-color: #e5f2ff;
    --btn: #255BF9;
}

/* =========================components========================== */
.heading {
    font-size: 32px;
    color: var(--primary);
    padding-bottom: 20px;
    font-weight: 500;
}

.para {
    font-size: 18px;
    color: var(--secondary);
    font-weight: 400;
    margin-bottom: 100px;
}

/* -===========================header===================================== */
header {
    background-color: var(--text-color);
    padding: 20px 0;
}

header .head-line {
    border: 1px solid var(--bgcolor);
}

header .row {
    justify-content: space-between;
    align-items: center;
}

header .row-line {
    border: 1px solid var(--bgcolor);
}

header .container {
    max-width: 1280px;
    border: 1px solid transparent;
    border-radius: 20px;
    justify-content: space-between;

}

header nav ul {
    list-style: none;
    display: flex;
}

header .logo img {
    display: flex;
    background-color: var(--bgcolor);
}

header .logo .logo-data h4 {
    color: var(--primary);
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
}

header a {
    color: var(--black);
    font-size: 20px;
    display: inline-block;
}

header nav ul a {
    color: var(--black);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

header nav ul .fa-solid {
    padding: 10px;
}

.header-btn button {
    border-radius: 50px;
    padding: 20px 20px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--btn);
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid transparent;
}

.header-btn button:hover {
    background-color: transparent;
    color: var(--btn);
    border-color: var(--btn);
}

/* =================================banner======================================== */
.banner {
    background-color: var(--text-color);
    padding: 112px 0px;
}

.banner .row {
    align-items: center;
    justify-content: space-between;
}

.banner .banner-data {
    margin: 0 auto;
}

.banner .banner-data h1 {
    color: var(--primary);
    display: block;
    max-width: 800px;
    font-size: 56px;
    font-weight: 500;
    line-height: 61.6px;
    text-align: center;
    margin: 0 auto;
}

.banner .banner-data p {
    color: var(--secondary);
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
}

.ban-btn button {
    border-radius: 50px;
    padding: 16px 24px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--btn);
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid transparent;
    line-height: 24px;
    text-align: center;
}

.ban-btn button:hover {
    background-color: transparent;
    color: var(--btn);
    border-color: var(--btn);
}

.ban-btn button-2 {
    border-radius: 50px;
    padding: 16px 24px;
    font-size: 16px;
    color: var(--btn);
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid var(--btn);
    line-height: 24px;
    text-align: center;
    width: 100%;
}

.ban-btn button-2:hover {
    background-color: var(--btn);
    color: var(--white);
    border-color: transparent;
}

.ban-img {
    display: flex;
    align-content: space-evenly;
    opacity: 1;
    border-radius: 32px;
    width: 100%;
    background-color: var(--primary);
    overflow: hidden;
    position: relative;
    margin-top: 65px;
}

.ban-img img {
    border-radius: 32px;
    width: 1017px;
}

.pagewrapper {
    background-color: var(--primary);
}

.ban-img .item-list {
    background-color: var(--primary);

}

.ban-img .item-list h2 {
    background-color: var(--primary);
    font-size: 40px;
    color: var(--white);
    font-weight: 400;
    line-height: 60px;
    padding: 8px 52px;
}

.ban-img .item-list p {
    background-color: var(--primary);
    font-size: 18px;
    color: var(--white);
    font-weight: 400;
    line-height: 48px;
}

/* ======================================================================== */
.avrg-comp .container {
    max-width: 1280px;
}

.avrg-comp {
    background-color: #2d2e55;
    position: relative;
    padding: 80px;
    /* text-align: center; */


}

.avrg-comp h3 {
    color: var(--white);
    max-width: 768px;
    padding-bottom: 40px;
}

.avrg-logo {
    width: 255px;
    border: 1px solid lightslategrey;
    height: 220px;
    display: flex;
    align-items: center;
    padding: 71px 28px;
}

.avrg-logo img {
    height: 68px;
    width: 198px;
    transition: 0.5s;
}

.avrg-logo img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.avrg-logo1 {
    border-top-left-radius: 20px;
    width: 255px;
    border: 1px solid lightslategray;
    height: 220px;
    display: flex;
    align-items: center;
    padding: 71px 28px;
    transition: 0.5s;
    line-height: 24px;
}

.avrg-logo1 img {
    height: 68px;
    width: 198px;
    transition: 0.5s;
}

.avrg-logo1 img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.avrg-logo5 {
    border-top-right-radius: 20px;
    width: 255px;
    border: 1px solid lightslategray;
    height: 220px;
    display: flex;
    align-items: center;
    padding: 71px 28px;
    transition: 0.5s;
}

.avrg-logo5 img {
    height: 68px;
    width: 198px;
    transition: 0.5s;
}

.avrg-logo5 img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.avrg-logo6 {
    border-bottom-left-radius: 20px;
    width: 255px;
    border: 1px solid lightslategray;
    height: 220px;
    display: flex;
    align-items: center;
    padding: 71px 28px;
    transition: 0.5s;
}

.avrg-logo6 img {
    height: 68px;
    width: 198px;
    transition: 0.5s;
}

.avrg-logo6 img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.avrg-logo10 {
    border-bottom-right-radius: 20px;
    width: 255px;
    border: 1px solid lightslategray;
    height: 220px;
    display: flex;
    align-items: center;
    padding: 71px 28px;
    transition: 0.5s;
}

.avrg-logo10:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

/* ================================services=================================== */
.services {
    padding: 112px 0px;
    background-color: var(--bgcolor);
}

.services h3 {
    font-size: 36px;
    max-width: 48%;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 50px;
    color: var(--primary);

}


.services p {
    font-size: 16px;
    color: var(--secondary);
}

.col-12 {
    border: 2px solid whitesmoke;
    border-radius: 32px;
    background-color: var(--white);
    box-shadow: 0px 0px 10px -6px;
    margin-bottom: 40px;
    transition: 1s;
    background-color: var(--bgcolor);
}

.service-data h3 {
    font-size: 32px;
    padding: 24px;
}

.col-12 :hover {
    cursor: pointer;
    transition: 1s;
}

.fa-circle-chevron-down {
    font-size: 30px;
    margin-top: 30px;
    margin-right: 20px;
}

.service-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* ============================portfolio======================================== */
.portfolio .container {
    max-width: 1280px;
}

.portfolio {
    padding: 112px;
    background-color: var(--bgcolor);
}

.container h2 {
    font-size: 40px;
    color: var(--primary);
    padding-bottom: 20px;
}

.container p {
    font-size: 18px;
    color: var(--secondary);
}

.port-card {
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px;
    margin: 24px;
    padding: 16px;
    display: inline-block;
}

.col-6 img {
    width: 100%;
}

.col-6 .img-data {
    padding: 24px;
}

.col-6 .img-data h3 {
    font-size: 24px;
    color: var(--primary);
    padding: 0;
}

.col-6 .img-data p {
    font-size: 16px;
}

.port-btn {
    padding-top: 20px;
}

.port-btn button {
    padding-top: 20px;
    padding: 4px 8px;
    font-size: 14px;
    color: var(--primary);
    border: transparent;
    background-color: #dfe7f2;
}

.vp button {
    font-size: 16px;
    padding-top: 24px;
    background-color: transparent;
    border: transparent;
    transition: 0.5s;
    position: relative;
}

.vp button:hover {
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
}

.fa-greater-than {
    height: 16px;
    width: 16px;
    padding: 16px;
}

.ban-btn {
    text-align: center;
}

/* ===============================================testimonial==================================== */
.testimonials {
    padding: 112px 0px;
}

.testimonials .container {
    max-width: 1280px;
    font-size: 16px;
    text-transform: uppercase;
}

.testimonials .container h3 {
    max-width: 560px;
    font-size: 32px;
    color: var(--primary);
    text-transform: none;
    font-weight: 600;
    margin-top: 10px;
}

.testimonials .container .row .col-5 p {
    max-width: 549px;
    font-size: 18px;
    color: var(--primary);
    text-transform: none;
    margin: 20px 0px;
}

.testimonials .fb {
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px;
}

.testimonials .fb p {
    max-width: 549px;
    font-size: 16px;
    color: var(--secondary);
    text-transform: none;
    margin: 0px;
    padding: 0px;

}

.fb img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: #ffff00;
    display: inline-block;
    margin-right: 15px;

}

.fb-data {
    display: flex;
    padding: 20px 0px 0px;
}

.fb-nd .name {
    font-size: 20px;
    color: var(--secondary);
}

/* ===================================team============================================= */
.col-4 {
    background-color: var(--bgcolor);
    width: 346px;
    margin: 30px;
    margin-bottom: 16px;
    border-radius: 16px;
    box-shadow: 0px 1px 3px 0px;
    background-color: var(--bgcolor);
    display: block;
}

.team .team-head {
    display: flex;
    justify-content: space-between;

}

.team {
    background-color: var(--white);
    padding: 112px;
}

.team-head p {
    font-size: 16px;
    color: var(--secondary);
    font-weight: 600;
    line-height: 24px;
}

.team-btn {
    padding: 16px 24px;
    background-color: var(--btn);
    border-radius: 32px;
    font-size: 16px;
    height: 58px;
    color: var(--white);
    transition: 0.5s;
    border: 1px solid transparent;
}

.team-btn:hover {
    background-color: transparent;
    color: var(--btn);
    border: 1px solid var(--btn);
    border-radius: 32px;
}

.team h2 {
    font-size: 40px;
    color: var(--primary);
    margin: 20px 0px 0px;
    display: inline-block;
    position: relative;
}

.col-4 img {
    height: 346px;
    width: 346px;
    font-size: 20px;
    color: var(--primary);
}

.col-4 h4 {
    color: var(--primary);
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
}

.col-4 p {
    color: var(--primary);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}

.col-4 ul .fa-linkedin-in {
    height: 18px;
    width: 18px;
    border: 1px solid var(--black);
    border-radius: 2px;
    background-color: rgb(19, 20, 64);
    color: var(--white);
    text-align: center;
    line-height: 18px;
    font-size: 16px;
    margin-right: 10px;
}

.col-4 ul .fa-twitter {
    width: 18px;
    height: 16px;
    font-size: 16px;
}

.col-4 ul .fa-dribbble {
    width: 18px;
    height: 16px;
    font-size: 16px;
    font-weight: 700;
}

/* ==============================faq========================= */
.faqs {
    padding: 112px 0px;
    text-align: center;
    background-color: #f7fbff;
}

.faq-head h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: center;
    color: rgb(19, 20, 64);
}

.faq-head p {
    color: rgb(45, 46, 85);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    max-width: 60%;
    margin: 20px auto;
}

.col-7 {
    padding-top: 24px;
    margin: 0 auto;
}

.q-a {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(195, 223, 245);
    border-radius: 7px;
    margin-bottom: 17px;
}

.q-a p {
    font-size: 18px;
    font-weight: 700;
    color: rgb(45, 46, 85);
    padding: 20px 24px;
}

.fa-plus {
    font-size: 20px;
    margin-top: 20px;
    margin-right: 20px;
    color: var(--primary);
}

/* ---------------------------questions------------------------ */
.que {
    text-align: center;
    background-color: var(--bgcolor);
}

.que .que-data {
    background-color: var(--secondary);
    padding: 24px;
    width: 560px;
    border: 1px transparent;
    border-radius: 16px;
    margin: 0 auto;
    display: inline-block;
}

.que .que-data h3 {
    color: var(--white);
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
}

.que .que-data p {
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 20px;
}

.que-btn button {
    border-radius: 50px;
    padding: 20px 20px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--btn);
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid transparent;
    margin-top: 20px;
}

.que-btn button:hover {
    background-color: transparent;
    color: var(--btn);
    border-color: var(--btn);
}

/* =======================blog============================= */
.blog {
    background-color: var(--bgcolor);
    padding: 112px 0px;
}

.blog .blog-head {
    display: flex;
    justify-content: space-between;
}

.blog-head p {
    font-size: 16px;
    color: var(--secondary);
    font-weight: 600;
    line-height: 24px;
}

.blog-btn {
    padding: 16px 24px;
    background-color: var(--btn);
    border-radius: 32px;
    font-size: 16px;
    height: 58px;
    color: var(--white);
    transition: 0.5s;
    border: 1px solid transparent;
}

.blog-btn:hover {
    background-color: transparent;
    color: var(--btn);
    border: 1px solid var(--btn);
    border-radius: 32px;
}

.col-3 {
    width: 405px;
    margin: 10px;
    margin-bottom: 16px;
    border-radius: 16px;
    box-shadow: 0px 1px 3px 0px;
    background-color: var(--bgcolor);
    display: block;
    padding: 16px;
}

.blog-data img {
    height: 250px;
    width: 373px;
    padding-top: 8px;
    border-radius: 16px;
}

.img-data h3 {
    margin: 10px 0px;
    font-size: 24px;
    color: var(--primary);
    font-weight: 500;
}

.img-data p {
    font-size: 16px;
    color: var(--primary);
    font-weight: 400;
    line-height: 24px;
    padding-right: 10px;
}

/* ============================contact============================= */
.contact {
    background-color: var(--white);
    padding: 112px 0px;
}

.contact .col-12 {
    background-color: var(--secondary);
    text-align: center;
    padding: 34px 16px;
}

.contact-data h3 {
    color: var(--white);
    max-width: 48%;
    margin: 0 auto;
}

.contact-data p {
    font-size: 16px;
    color: var(--white);
    margin: 0px;
    margin-bottom: 2px;
}

.contact-data .para {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 18px;
}

/* form */
.office {
    background-color: var(--bgcolor);
    padding: 112px 0px;
}

.office form {
    border-radius: 16px;
    padding: 40px;
    position: relative;
    z-index: 1;
    background-color: var(--white);
    width: 765px;
    align-items: center;
    box-shadow: rgba(16, 24, 40, 0.1) 0px 4px 8px -2px, rgba(16, 24, 40, 0.06) 0px 2px 4px -2px;
    margin-top: 30px;
    margin-left: 50px;
}

.office form .field {
    margin-bottom: 30px;
}

.office form .field input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid rgb(195, 223, 245);
    border-radius: 10px;
    height: 46px;

}

.office form .field input::placeholder {
    color: lightgray;
    font-size: 16px;
    font-family: satoshi variable;
    font-weight: normal;
}

.office form .suggest textarea {
    font-size: 16px;
    padding: 12px;
    font-family: satoshi variable;
    border: 1px solid rgb(195, 223, 245);
    border-radius: 10px;
}

.office form .suggest label {
    display: inline-block;
    margin: 0px 0px 8px;
    font-size: 20px;
    color: var(--secondary);
    font-weight: 500;

}

.office form .field label {
    display: inline-block;
    margin: 0px 0px 8px;
    font-size: 20px;
    color: var(--secondary);
    font-weight: 500;

}

.office .form-btn button {
    width: 100%;
    border-radius: 50px;
    padding: 16px 24px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--btn);
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid transparent;
    line-height: 24px;
    text-align: center;
    margin-top: 15px;
}

.office .form-btn button:hover {
    background-color: transparent;
    color: var(--btn);
    border-color: var(--btn);
}

.office .col-12 {
    background-color: var(--white);
    border-radius: none;
}


.col-6 .office-data {
    background-color: var(--primary);
    padding: 80px 0px 80px 136px;
    width: 911px;
    border-top-left-radius: 16px;
    position: relative;
    z-index: 0;
    margin-left: 100px;
}

.office-info {
    padding: 12px 12px 12px 0px;
    margin-left: 50px;
    margin-bottom: 60px;
}

.office-info h5 {
    font-size: 20px;
    color: var(--white);
    font-weight: 500;
    line-height: 24px;
    padding: 12px 12px 12px 0px;
    margin-top: 50px;
}

.office-info h6 {
    font-size: 20px;
    color: var(--white);
    font-weight: 500;
    line-height: 24px;
    padding: 12px 12px 12px 0px;
}

.office-info p {
    color: var(--white);
    font-size: 16px;
    max-width: 40%;
    padding: 12px 12px 12px 0px;
}

.office-info a {
    color: var(--white);
    font-size: 16px;
    text-decoration: underline;
    margin: 0px;
    padding: 12px 12px 12px 0px;
}

.office-data .e-data {
    max-width: 50%;
    font-size: 16px;
}

/* ============================footer=================================== */
footer {
    background-color: #2e2e56;
    padding: 112px 96px;
}

footer nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.airgency {
    padding-left: 50px;
}
 .airgency p {
    color: var(--white);
    font-size: 16px;
    max-width: 80%;
    margin: 20px 0px;
}

.airgency p.sub-data {
    color: var(--white);
    font-size: 12px;
    max-width: 80%;
    margin-top: 20px;
}

.sub-data a {
    color: var(--white);
    font-size: 12px;
    text-decoration: underline;
    margin: 0px;
}

.airgency input {
    width: 58%;
    height: 58px;
    padding: 8px 16px;
    border-radius: 32px;
    border: 1px solid var(--white);
    background-color: transparent;
    margin-right: 10px;
}

.web-btn {
    padding: 16px 24px;
    color: var(--black);
    border: 1px solid var(--btn);
    border-radius: 32px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.web-btn:hover {
    background-color: #255BF9;
    color: var(--white);
    border-color: transparent;
}
.airgency img{
    width:126px;
    height:32px;
}
.col-1 .footer-data h6 {
    color: var(--white);
    font-size: 16px;
    margin-bottom: 20px;
    padding-top: 30px;
    margin-right: 80px;
    
}

.col-2 .footer-data h6 {
    color: var(--white);
    font-size: 16px;
    margin-bottom: 20px;
    padding-top: 30px;
    margin-right: 80px;
    
}

.footer-data ul li {
    margin-bottom: 20px;
    margin-right: 80px;
}

.footer-data ul li a {
    color: var(--white);
    font-size: 14px;
    padding: 8px 0px;
    margin: 0 auto;
    
}

.tem-btn {
    width: 165px;
    height: 58px;
    padding: 16px 24px;
    border-radius: 32px;
    border: 1px solid transparent;
    background-color: var(--btn);
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--white);
    margin-top: 60px;
    transition: 0.5s;
    text-align: center;
}

.tem-btn:hover {
    background-color: transparent;
    color: var(--white);
    border-color: var(--white);
}

.copy-data {
    border: 1px solid rgb(128, 128, 152);

}
.fa-facebook{
    font-size:20px;
    margin-right:10px;
}
.fa-instagram,
.fa-x-twitter,
.fa-linkedin-in,
.fa-youtube{
    font-size:20px;
    margin-right:10px;
}
.fa-linkedin-in{
    color:var(--primary);
    background-color:var(--white);
}
.copy-info {
    display: flex;
    justify-content: space-between;
}

.copy-info p {
    font-size: 14px;
    color: var(--white);
    margin-top: 10px;

}

.copy-info a {
    font-size: 14px;
    color: var(--white);
    margin-left: 0px;
    margin-right: 0px;
    margin-left: 25px;
}