/* ============================common css=========================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    
}
ul{
  list-style: none;
}

body{
    font-family: nunito;
    overflow-x: hidden;
}
li{
  list-style: none;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.col-1{
  width: 8.33%;
  padding-left: 12px;
  padding-right: 12px;
}
.col-2{
    width: 16.66%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-3{
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-4{
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-5{
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-6{
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-7{
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-8{
    /* width: 66.66%; */
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-9{
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-10{
    width:83.33%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-11{
    width: 91.66%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-12{
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .d-flex{
    display: flex;
  } 
   /*===========variables============== */
  :root{
    --primary:#4F46E5;
    --head-text:#161c2d;
    --info-text:#94a3b8;
    --black:#000;
    --white:#fff;
}
/* =================================== Header =====================================  */
header{
  background: #f1f1f185;
  box-shadow: -1px 4px 20px 1px #fff;
  height: 64px; 
  display: flex;
}
.logo-img{
    display: flex;
    align-items: center;
    position: relative;
    margin: 15px 44px 0px 44px;
    height: 32px;
    width: 112px;
}
.bar {
  z-index: 1;
  display: block;
  position: relative;
  background: transparent;
  text-align: center;
  margin-left: 80px;
  border-radius: 50%;
  line-height: 40px;
  width: 2  4px;
  height: 24px;
  font-size: 22px;
  color: #71829b;
}
.search{
  padding: 10px 80px;
  margin-left: 20px;
  border-radius: 16px;
  border: #ECF0FA;
  background-color: #ECF0FA;
}
.sear{
  border-radius: 16px;
  padding-top: 12px;
}
.features{
  display: flex;
}
.moon{
  width: 20px;
  height: 20px;
  color: #71829b;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
  position: relative;
  line-height: 37px;
}
.email{
  font-size: 22px;
  color: #71829b;
  position: relative;
  line-height: 37px;
  height: 40px;
  margin-top: 15px;
  width: 40px;
}
.notify{
  font-size: 22px;
  color: #71829b;
  position: relative;
  line-height: 37px;
  height: 40px;
  width: 40px;
  margin-top: 15px;
}
.scan{
  font-size: 22px;
  color: #71829b;
  position: relative;
  line-height: 37px;
  height: 40px;
  width: 40px;
}
.bars{
  font-size: 22px;
  color: #71829b;
  position: relative;
  line-height: 37px;
  height: 40px;
  width: 40px;
}
.profile-lady{
  margin-inline-start: 0;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  margin-top: 15px;
}
.settings{
  font-size: 22px;
  color: #71829b;
  position: relative;
  line-height: 37px;
  height: 40px;
  width: 40px;
}
.settings:hover{
  animation: fervo 10s linear infinite;
}
@keyframes fervo{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(260deg);
  }
}
  /*================================ aside ========================================*/
  aside{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 12%;
    margin-top: 30px;
    overflow: scroll;
    z-index: 99;
    display: inline-block;
    min-width: 20%;
  }
  aside::-webkit-scrollbar{
    width: 0;
  }
  .logo-data{
    width: 112px;
    height: 32px;
    margin-left: 40px;
    margin-top: 20px;
  }
  .aside-data{
    padding: 15px 0;
    text-align: center;
  }
  .profile-lady-img{
    display: flex;
    position: relative;
    width: 72px;
    height: 72px;
    border: 2px solid #eae8f1;
    box-shadow: 0 10px 10px #2c2c2c33;
    text-align: center;
    padding: 3px;
    background: #fff;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 50px;
  }
  .petey{
    font-size: 15px;
    color: #031b4e;
    margin-top: 16px;
    width: 170px;
    height: 18px;
  }
  .premium{
    font-size: 13px;  
    color: #7987a1 !important;
    margin-top: 5px;
    width: 170px;
    height: 16px;
  }
  .main{
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 10px;
    color: var(--black);
    padding: 0px 20px 0px 25px;
    margin-bottom: 12px;
  }
  .index-icon{
    color: #0162E8;
    cursor: pointer;
  }
  .index{
    width: 161px;
    margin-left: 20px;
    height: 13px;
    color: #0162E8;
    position: relative;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400px;
  }
  .one{
    color: #ECF0FA;
    border-radius: 3px;
    font-size: 10px;
    cursor: pointer;
    inset-inline-end: 21px;
    position: absolute;
    background: #22C03C;
    padding: 2px 4px;
    margin-left: 100px;
    margin-right: 20px;
  }
  .general{
    text-transform: uppercase;
    font-size: 11px;
    color: #000;
    margin-top: 20px;
  }
  .fa-solid{
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: var(--info-text);
  }
  .icon{
    width: 161px;
    height: 13px;
    position: relative;
    text-transform: capitalize;
    cursor: pointer;
    color: var(--info-text);
    font-size: 15px;
  } 
.accordion-item h6{
  font-size: 15px;
}
.accordion-item h6 a{
  transition: 0.5s;
}
.accordion-item h6 a:hover{
  color: #0162E8;
  transition: 0.5s;
} 
/* ======================== welcome =================================== */
.welcome{
  background-color: #ECF0FA;
  width: 1038px;
  height: 1650px;
  margin: 0px 0px 0px 225px;
}
.content{
  max-width: 998px;
  height: 46px;
  padding-top: 30px;
}
.back{
  color: #242f48;
  font-size: 24px;
  text-transform: capitalize;
  padding-left: 30px;
  padding-top: 20px;
  width: 237px;
  height: 24px;
}
.hii{
  color: #78829a;
  font-size: 14px;
  margin-left: 30px;
  padding-top: 25px;
  width: 237px;
  height: 21px;
}
.customer{
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: end;
}
.ratings{
  color: #78829a;
  font-size: 13px;
  width: 153px;
  height: 19px;
  text-align: center;
  text-transform: capitalize;
}
.custom{
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.star{
  display: inline-block;
  text-decoration: inherit;
  width: 20px;
  text-align: center;
  height: 20px;
  color: gold;
}
.star-1{
  display: inline-block;
  text-decoration: inherit;
  width: 20px;
  text-align: center;
  height: 20px;
}
.num{
  color: #031b4e;
  width: 48px;
  height: 19px;
  font-size: 13px;
  margin-top: 10px;
}
.sales{
  width: 74px;
  height: 19px;
  color: #78829a;
  text-transform: capitalize;
  font-size: 13px;
  margin-right: 20px;
}
.number{
  font-size: 20px;
  width: 74px;
  height: 20px;
  color: #1c273c;
} 
.row{
  margin-top: 30px;
  margin-left: 5px;
}
.order{
  background-image: linear-gradient(to left, #0162e880 0%, #0162e8 100%) !important;
  border-radius: 10px;
  width: 237px;
  height: 120px;
  padding: 16px 16px 8px;
}
.order h6{
  font-size: 12px;
  text-transform: uppercase;
}
.order h5{
  font-size: 20px;
  font-weight: 700;
}
.order p{
  font-size: 12px;
}
.ord{
  max-width:245px;
  height: 30px;
  margin-top: 10px;
  padding-right: 20px;
}
.ords{
  max-width:240px;
  height: 30px;
  margin-top: 8px;
  padding-right: 20px;
}
.orders{
  background-image: linear-gradient(45deg, #f93a5a, #f7778c) !important;
  border-radius: 10px;
  width: 237px;
  height: 120px;
  padding: 16px 16px 8px;
}
.orders h6{
  text-transform: uppercase;
  font-size: 12px;
}
.orders h5{
  font-size: 20px;
  font-weight: 700;
}
.orders p{
  font-size: 12px;
}
.order-num{
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
}
.order-nu{
  font-size: 12px;
  color: #fff;
  margin-top: 5px;
}
.or{
  margin-left: 10px;
}
.order2{
  background-image: linear-gradient(to left, #48d6a8 0%, #029666 100%) !important;
  border-radius: 10px;
  width: 237px;
  height: 120px;
  padding: 16px 16px 8px;
}
.order2 h6{
  text-transform: uppercase;
  font-size: 12px;
}
.order2 h5{
  font-size: 20px;
  font-weight: 700;
}
.order2 p{
  font-size: 12px;
}
.order3{
  background-image: linear-gradient(to left, #efa65f, #f76a2d) !important;
  border-radius: 10px;
  width: 237px;
  height: 120px;
  padding: 16px 16px 8px;
}
.order3 h6{
  text-transform: uppercase;
  font-size: 12px;
}
.order3 h4{
  font-size: 20px;
  font-weight: 700;
}
.order3 p{
  font-size: 12px;
}
.today{
  color: white;
  margin-bottom: 10px;
}
.col-4 .usa{
  width: 404px;
  height: 373px;
}
.chart{
  background-color: #fff;
  border-radius: 7px;
  width: 572px;
  height: 403px;
}
.status{
  color: #242f48;
  font-size: 14px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.track{
  font-size: 12px;
  padding-left: 20px;
  color: #7987a1 ;
}
.bg{
  margin-left: 30px;
  font-size: 14px;
}
.dot{
  color: blue;
  font-size: 10px;
  position: relative;
  border-radius:50%;
  cursor: pointer;
  background-color: blue;
  padding: 2px 4px;
  margin-right: 5px;
}
.dots{
  color: red;
  font-size: 10px;
  position: relative;
  border-radius:50%;
  cursor: pointer;
  background-color: red;
  padding: 2px 4px;
  margin-right: 5px;
}
.doted{
  font-size: 10px;
  position: relative;
  border-radius:50%;
  cursor: pointer;
  background-color: yellow;
  padding: 2px 4px;
  margin-right: 5px;
  color: #C7F464;
}
.charts{
  margin-left: 10px;
  width: 532px;
  height: 246px;
}
.bg-num{
  margin-left: 30px;
  margin-top: 20px;
  font-size: 21px;
}
.map-1{
  background-color: #fff;
  border-radius: 7px;
  padding: 20px;
  width: 404px; 
  height: 373px;
}
.style{
  font-size: 16px;
  background-color: #ddd;
  color: #333;
  padding: 5px;
  font-weight: bold;
}
.state{
  margin: 0 auto;
}
.map-1 h4{
  font-weight: 700;
  color: #242f48;
  font-size: 14px;
  text-transform: uppercase;
}
.map-1 p{
  font-size: 12px;
  color: #7987a1 ;
}
.perform{
  margin-bottom: 40px;
  margin-top: 5px;
}
/* ================================ Customers =====================================*/
.Customer{
  background-color: #fff;
  border-radius: 7px;
  width: 307px;
  height: 544px;
  margin-right: 20px;
  margin-left: 15px;
}
.recent{
  width: 277px;
  height: 16px;
  padding: 20px 20px 4px;
  font-size: 14px;
  color: #242f48;
}
.individual{
  width: 277px;
  height: 54px;
  padding: 20px 20px 4px;
  color: #7987a1;
  font-size: 12px;
  margin-bottom: 20px;
}
.Customer h4{
  font-weight: 700;
  color: #242f48;
  font-size: 14px;
  text-transform: uppercase;
}
.Customer p{
  font-size: 12px;
  color: #7987a1 ;
}
.border-bottom{
  margin-top: 40px;
  margin-top: 40px;
}
.business-profile{
  margin-left: 20px;
  margin-top: 10px;
}
.melon{
  margin-left: 20px;
}
.user{
  margin-left: 20px;
}
.paid{
  margin-left: 25px;
  margin-top: 10px;
}
.paids{
  margin-left: 25px;
  margin-top: 10px;
}
.list img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.list h5{
  text-transform: capitalize;
  font-size: 15px;
  margin-bottom: 4px;
  font-weight: 600;
  color:#434f63;
}
.list-group p{
  font-size: 13px;
  color:#7987a1;
  min-width: 100%;
  display: flex;
}
.list-group span{
  color: #22c03c;
}
/*====================================== Activity =================================================*/
.activity{
  background-color: #fff;
  border-radius: 7px;
  width: 317px;
  height: 450px;
  padding: 20px 20px 4px;
}
.activity h4{
  font-weight: 700;
  color: #242f48;
  font-size: 14px;
  text-transform: uppercase;
}
.activity p{
  font-size: 12px;
  color: #7987a1 ;
}
.goal{
  font-size: 14px;
  margin-bottom: 10px;
}
.goal-data{
  font-size: 12px;
  color: #7987a1;
  margin-bottom: 10px;
}
.product{
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
}
.products{
  font-size: 14px;
  margin-top: 10px;
  margin-left: 20px;
}
.new{
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 2px;
}
.news{
  margin-bottom: 20px;
  margin-left: 18px;
  margin-top: 2px;
}
.total i{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-image: linear-gradient(to left, rgba(1, 98, 232, 0.5) 0%, rgb(1, 98, 232) 100%);
  color: #fff;
  font-size: 16px;
  text-align: center;
  align-content: center;
}
.day{
  margin-left: 60px;
  margin-top: 10px;
}
.day1{
  margin-left: 85px;
  margin-top: 10px;
}
.day2{
  margin-left: 50px;
  margin-top: 10px;
}
.day3{
  margin-left: 70px;
  margin-top: 10px;
}
.day4{
  margin-left: 55px;
  margin-top: 10px;
}
.day5{
  margin-left: 40px;
  margin-top: 10px;
}
.total-product h5{
  font-size: 15px;
  font-weight: 600;
  color:#434f63;
}
.shopping i{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #f93a5a, #f7778c);
  color: #fff;
  font-size: 16px;
  text-align: center;
  align-content: center;
}
.shop-sale h5{
  font-size: 15px;
  font-weight: 600;
  color:#434f63;
}
.simple i{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-image:linear-gradient(to left, #48d6a8 0%, #029666 100%) !important;
  color: #fff;
  font-size: 16px;
  text-align: center;
  align-content: center;
}
.revenue h5{
  font-size: 15px;
  font-weight: 600;
  color:#434f63;
}
.wallet i{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-image: linear-gradient(to left, #efa65f, #f76a2d) !important;
  color: #fff;
  font-size: 16px;
  text-align: center;
  align-content: center;
}
.wallet-data h5{
  font-size: 15px;
  font-weight: 600;
  color:#434f63;
}
.eye i{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #6829db 0%, #884af1 100%) !important;
  color: #fff;
  font-size: 16px;
  text-align: center;
  align-content: center;
}
.eye-data h5{
  font-size: 15px;
  font-weight: 600;
  color:#434f63;
}
.sticky i{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-image: linear-gradient(to left, rgba(1, 98, 232, 0.5) 0%, rgb(1, 98, 232) 100%);
  color: #fff;
  font-size: 16px;
  text-align: center;
  align-content: center;
}
.sticky-data h5{
  font-size: 15px;
  font-weight: 600;
  color:#434f63;
}
/*====================================== order =========================================*/
.brokeres{
  background-color: #fff;
  border-radius: 7px;
  width: 317px;
  height: 325px;
  margin-left: 20px;
  padding: 20px 20px 0;
}
.brokeres h4{
  font-weight: 700;
  color: #242f48;
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.brokeres p{
  font-size: 12px;
  color: #7987a1 ;
  margin-bottom: 10px;
}
.brokeres .month{
  font-size: 14px;
  font-weight: 400;
}
.brokered-data h6{
  font-size: 14px;
  font-weight: 400;
  color: rgb(3, 27, 78);
}
.brokered-data h3{
  font-size: 21px;
  font-weight: 700;
  color: #1c273c;
} 
/* =========================================== Country ========================================== */
.top-country{
  color: #242f48;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  font-size: 13px;
}
.based-country{
  font-size: 12px;
  color: #7987a1!important;
}
.list-group-item{
  width: 276px;
  height: 41px;
}
.states{
  padding-top: 10px;
}
.country {
  background-color: #fff;
  width: 310px;
  padding-top: 5px;
  padding-left: 10px;
  height: 341px;
  margin-left: 20px;
  border-radius: 5%;
  margin-top: 20px;
}
.country .state-num{
  color: #1c273c;
  text-align: end;
  font-size: 14px;
  display: block;
  font-weight: 600;
  margin-bottom: 20px;
}
.country .states{
  color: rgb(33, 37, 41);
  font-size: 14px;
  line-height: 21px;
}
/* .earning{
  background-color: var(--white);
  border: 1px solid transparent;
  border-radius: 7px;
  padding: 40px;
}
/* 
.customer h6 {
  color: rgb(36, 47, 72);
  font-size: 14px;
  line-height: 14px;
}

.customer p {
  color: rgb(121, 135, 161);
  font-size: 12px;
  line-height: 18px;
}

#map {
  margin: 0 auto;
} */ */





