/*---------deafault/comoon/resetcss*/
* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: 'Gorditas', sans-serif;
    color: rgb(0, 0, 0);
    /* padding: 20px 20px; */
}

body {
    font-family: 'Gorditas', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gorditas', sans-serif;
}

p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.8;
    color: #797979;
    font-family: "Gilroy", sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

span,
.btn {
    color: var(--optionalColor);
    font-family: 'Gorditas', sans-serif;
}

span {
    background-color: var(--span);
    padding: 0px 8px;
}

.subheading {
    font-size: 13px;
    font-family: 'Gorditas', sans-serif;
    display: block;
    margin-bottom: 5px;
    color: rgb(194, 168, 126);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    z-index: 0;
}

:root {
    font-family: 'Gorditas', sans-serif;
    --ptagcolor: #797979;
    --mainColor: #0000ff;
    --span: #ffbd3b;
    --whiteColor: #ffffff;
    --text-color: #f1efd5;
    --blackColor: #474747;
    --paragraphColor: #b0b3be;
    --color: #362a50;
    --fontSize: 16px;
    --transition: .5s;
}

ul {
    list-style: none;
}

/* ==========================Header========================== */

header {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    transition: all .4s ease-out;
    border-bottom: 1px solid #f1f1f1;
    align-items: center;
}

.navbar-brand img {
    width: 150px;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    color: var(--color);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    /* padding: 30px 15px; */
    align-items: center;
    margin: 0px 0px 0px 38px;
    text-decoration: none;
    letter-spacing: 1px;
}

.navbar li a:hover {
    color: var(--span);
    border-bottom: 1px solid var(--span);
    transition: all 0.9s;

}

.dtr-header-btn i:hover {
    background-color: var(--span);
    color: var(--whiteColor);
    transition: 0.10s;
}

.dtr-header-btn .btn {
    color: var(--whiteColor);
    background: var(--span);
    font-size: 16px;
    font-family: 'Gorditas', sans-serif;
    font-weight: 700;
    line-height: 50px;
    padding: 0 35px;
    align-content: center;
    border-radius: 30px;
    letter-spacing: -.36px;
}

.dtr-header-btn .btn:hover {
    background-color: var(--color);
    color: var(--whiteColor);
}


/* ============= banner ============== */


.banner {
    background: url(../images/home-banner.png) no-repeat top right / contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 180px 0;
    margin-top: 60px;
    min-height: 100vh;
}

.main-heading h1 {
    color: var(--color);
    font-size: 65px;
    font-family: "Samsung Sharp Sans", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 30px;
}

.main-heading p span {
    font-weight: 600;
}

.main-heading a i {
    width: 70px;
    height: 70px;
    line-height: 32px;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: var(--span);
    background-color: var(--color);
    margin: 0 10px 0 0;
    border-radius: 10px;
    transition: all 0.3s;
}

.main-heading a i:hover {
    color: var(--color);
    background-color: var(--span);
    transition: all 0.8s;
}

/* Expected-Idea */

.Expected-Idea {
    background-color: var(--color);
    background-image: url("../images/expect.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 60px 0px;
}

.Expected-Idea .row {
    justify-content: center;
}

.Expected-Idea h2 {
    font-size: 45px;
    font-weight: 700;
}

.Idea-Card h2 span {
    color: var(--span);
    background-color: transparent;
    padding: 0px;
}

.Idea-Card {
    background-color: var(--whiteColor);
    margin: 30px 0px 0px;
    padding: 30px;
    border-radius: 6px;
}

.Idea-Card:hover {
    background-color: #fff6e4;
    border: 5px solid var(--span);
    /* border-radius: 6px; */
    transition: all 0.3s;
}

.Card-Image {
    display: flex;
    justify-content: center;
}

.Idea-Card h5 {
    color: var(--color);
    font-size: 22px;
    font-weight: 600;
    margin: 22px 0px 10px;
}


/* Deliver-Advance */

.Deliver-Advance {
    margin: 62px 0px 0px;
    padding: 60px 0px;
    background: url(../images/feature-bg.png) no-repeat center left / contain;
    height: 90vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.Deliver-Advance .row {
    justify-content: end;
}

.Delivery-head {
    margin-top: 60px;
}

.Delivery-head h2 {
    color: var(--color);
    font-size: 42px;
    font-family: "Samsung Sharp Sans", sans-serif;
    font-weight: 700;
}

.Delivery-head p {
    color: var(--color);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.Delivery-head p+p {
    color: var(--ptagcolor);
    font-size: 16px;
    font-weight: 400;
    max-width: 550px;
}



/* Both-Work */

.Both-Work {
    background: url(../images/both-bg.png) no-repeat center right / contain;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}


/* Effective_Feature */

.Effective_Feature {
    background: url(../images/effective.png) no-repeat center right / 15%,
        url(../images/effective1.png) no-repeat bottom left / 20%;
    padding: 50px 0;
    background-color: #fff6e4;
}

.Effective_Feature .card {
    background: var(--whiteColor);
    border: 2px solid var(--whiteColor);
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
    align-items: center;
}

.Effective_Feature .card:hover {
    border: 2px solid var(--span);
    transition: 0.3s all ease;
}

.Effective_Feature .card h5 {
    color: var(--color);
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.Effective_Feature .card p {
    font-size: 14px;
    margin-bottom: 30px;
}

.Effective img::after {
    position: absolute;
    content: "";
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.Effective-Images {
    margin: 0 auto;
}

.Effective h2 {
    color: var(--color);
    font-size: 45px;
    font-family: "Samsung Sharp Sans", sans-serif;
    font-weight: 700;
}

.Effective span {
    color: var(--span);
    background-color: transparent;
}



/* ================================== Working-Know ========================== */


.Working-Know {
    padding: 60px 0px;
}

.Working-Know h2 {
    font-size: 45px;
    font-weight: 700;
    margin: 0px 0px 20px;
    font-family: "Samsung Sharp Sans", sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.Working-Know h2 span {
    background-color: transparent;
    color: var(--span);
}

.Working-Know video {
    width: 60%;
    height: auto;
    border-radius: 30px;
    padding: 15px;
    border: 1px solid var(--span);
    margin: 0px 0px 30px;
}

.Working-Know:nth-child(2) .row {
    background: var(--color);
}


/* -------------- Share-Experience -------------- */

.Share-Experience {
    background-color: var(--color);
    padding: 60px 0px;
}

.Share-Experience h1 {
    font-size: 45px;
    font-family: "Samsung Sharp Sans", sans-serif;
    font-weight: 600;
}

.Share-Experience h1 span {
    color: var(--span);
    background-color: transparent;
}

/* Newsletter */

.Newsletter {
    padding: 100px 0px;
    background: url("../images/effective1.png") no-repeat bottom left/10%,
        url("../Images/we-bg2.png") center right/8%;
    background-repeat: no-repeat;
    background-color: #fff6e4;
    /* background-position: center right/8%; */
}

.Newsletter h1 {
    color: var(--color);
    font-size: 45px;
    font-family: "Samsung Sharp Sans", sans-serif;
    font-weight: 600;
}

.Newsletter p {
    color: var(--color);
    font-size: 16px;
    font-weight: 600;
}

.email-btn {
    background-color: var(--whiteColor);
    padding: 0px 0px 0px 20px;
    position: relative;
    border-radius: 50px;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    width: 100%;
}

.input-group i {
    color: var(--span);
    padding: 10px;
    font-size: 25px;
    align-content: center;
}

.input-group input {
    border: none;
}

.input-group a {
    background-color: var(--span);
    border-radius: 30px;
}


/* =================== Register-Form ============== */

.Register-Form {
    padding: 60px 0px;
}

.Quary-Section h2 {
    color: var(--color);
    font-size: 45px;
    font-family: "Samsung Sharp Sans", sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1.2;
}

.contact-head img {
    margin-bottom: 50px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.contact-us {
    margin-bottom: 40px;
}

.contact-image {
    color: var(--whiteColor);
    background-color: var(--span);
    font-size: 25px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    margin-right: 15px;
    flex-shrink: 0;
}

.contact-content h6 a {
    color: #9e9ca8;
    text-decoration: none;
}

.contact-content h6 a:hover {
    color: var(--span);
    font-size: 1rem;
    transition: all 0.5s;
}

.contact-form {
    padding: 0 50px;
}

#dataForm{
    margin-bottom: 20px;
}

.contact-form-bg {
    background-color: #f4f5f7;
    padding: 0px 20px 0px 5px;
    border-radius: 45px;
    margin-bottom: 20px;
}

.contact-form-bg .form-control{
    background-color: #f4f5f7;
}

.contact-form-bg .form-control:hover{
    background-color: #f4f5f7;
    border: none;    
}

.contact-form input {
    background-color: #32383a;
    color: #757575;
    border-radius: 10px;
    margin-left: 5px;
}

form textarea{
    width: 530px;
    border-radius: 10px;
}

form button{
    background-color: var(--span);
    display: block;
    width: 520px;
    padding: 15px;
    border-radius: 30px;
}


/* =================== footer =================== */

footer{
    background-color: var(--color);
    padding: 50px 0 5px 0;
    text-align: center;
    align-items: center;
}

footer .container .row{
    /* justify-content: space-between; */
    align-items: center;
    align-content: center;
}

footer ul li{
    padding: 0px 20px;
}

footer img{
    width: 200px;
}


.footer-icon i{
    color: var(--span);
    font-size: large;
    margin: 0px 10px;
    background-color: #41355a;
    line-height: 54px;
    padding: 0px 20px;
    border-radius: 50%;
}